@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url(“https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css”);
:root {
  --backgroundColor: #fff;
  --primaryColor: #0d6ddf;
  --secondaryColor: #1ac1ff;
  --blueButtonColor: linear-gradient(140deg, #0d6ddf, #001ec1 80%);
  --greenButtonColor: linear-gradient(140deg, #1ad857, #149f3f 80%);
  --purpleButtonColor: linear-gradient(110deg, #001ec1, #ba19ff 80%);
  --cardTagColor: linear-gradient(110deg, #db3737, #ffb100 80%);
  --primaryTextColor: #333;
  --secondaryTextColor: #727272;
  --tertiaryTextColor: #0d6ddf;
  --errorTextColor: #ff4136;
  --formTextColor: #1c4870;
  --purpleGradientTextColor: -webkit-linear-gradient(#001ec1, #ba19ff);
  --lightShadow: 0px 1px 6px 0px #d8dce2;
  --darkShadow: 0px 2px 10px 1px #424242;
  --tagBackgroundColor: #0f7ce51a;
  --placeholderColor: #81a0bd;
}


@media screen and (max-width:720px){
    .sliderblock article div.sliderLeft{
        flex-basis: 100%;
    }
    .sliderblock article div.sliderRight{
        flex-basis: 100%;
    }
    .sliderblock article{
        flex-direction: column;
    }
}